:root {
  --color-primary: #ffd204;
  --color-primary-hover: #ffe167;
  --color-dark: #171717;
  --color-bg: #f7f8fa;
  --border-radius: 16px;
  --transition-speed: 0.25s;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
}
